services:
  app:
    extra_hosts:
{% for host in groups['all'] %}
      - "{{ host }}:{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}"
{% endfor %}

  wordpress:
    extra_hosts:
{% for host in groups['all'] %}
      - "{{ host }}:{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}"
{% endfor %}
