CREATE USER IF NOT EXISTS '{{ database_exporter_user }}'@'%' IDENTIFIED BY '{{ database_exporter_password }}' REQUIRE X509 WITH MAX_USER_CONNECTIONS 3;
GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO '{{ database_exporter_user }}'@'%';

CREATE USER IF NOT EXISTS '{{ database_backup_user }}'@'%' IDENTIFIED BY '{{ database_backup_password }}' REQUIRE X509;
GRANT ALL PRIVILEGES ON *.* TO '{{ database_backup_user }}'@'%';

FLUSH PRIVILEGES;
