services:
  mysql-replica:
    extra_hosts:
{% for host in groups['all'] %}
      - "{{ host }}:{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}"
{% endfor %}

  mysql-replica-exporter:
    extra_hosts:
{% for host in groups['all'] %}
      - "{{ host }}:{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}"
{% endfor %}
